## 1. OHLCV 활용한 백테스팅 구조

In [28]:
import pybithumb

df = pybithumb.get_ohlcv("BTC")

In [29]:
df.tail()

,open,high,low,close,volume
2019-06-25 00:00:00,12801000.0,13500000.0,12720000.0,13329000.0,8119.787732
2019-06-26 00:00:00,13329000.0,15610000.0,13323000.0,15258000.0,18017.851190
2019-06-27 00:00:00,15220000.0,16858000.0,13808000.0,14602000.0,32378.604185
2019-06-28 00:00:00,14599000.0,15020000.0,12959000.0,14566000.0,25946.066748
2019-06-29 13:00:00,14566000.0,15411000.0,14251000.0,14540000.0,7772.613433

In [30]:
df['range'] = (df['high'] - df['low']) * 0.5

In [31]:
df.tail()

,open,high,low,close,volume,range
2019-06-25 00:00:00,12801000.0,13500000.0,12720000.0,13329000.0,8119.787732,390000.0
2019-06-26 00:00:00,13329000.0,15610000.0,13323000.0,15258000.0,18017.851190,1143500.0
2019-06-27 00:00:00,15220000.0,16858000.0,13808000.0,14602000.0,32378.604185,1525000.0
2019-06-28 00:00:00,14599000.0,15020000.0,12959000.0,14566000.0,25946.066748,1030500.0
2019-06-29 13:00:00,14566000.0,15411000.0,14251000.0,14540000.0,7772.613433,580000.0

In [33]:
df['range_shift1'] = df['range'].shift(1)
df.tail()

,open,high,low,close,volume,range,range_shift1
2019-06-25 00:00:00,12801000.0,13500000.0,12720000.0,13329000.0,8119.787732,390000.0,337000.0
2019-06-26 00:00:00,13329000.0,15610000.0,13323000.0,15258000.0,18017.851190,1143500.0,390000.0
2019-06-27 00:00:00,15220000.0,16858000.0,13808000.0,14602000.0,32378.604185,1525000.0,1143500.0
2019-06-28 00:00:00,14599000.0,15020000.0,12959000.0,14566000.0,25946.066748,1030500.0,1525000.0
2019-06-29 13:00:00,14566000.0,15411000.0,14251000.0,14540000.0,7772.613433,580000.0,1030500.0

In [34]:
df['target'] = df['open'] + df['range_shift1']
df.tail()

,open,high,low,close,volume,range,range_shift1,target
2019-06-25 00:00:00,12801000.0,13500000.0,12720000.0,13329000.0,8119.787732,390000.0,337000.0,13138000.0
2019-06-26 00:00:00,13329000.0,15610000.0,13323000.0,15258000.0,18017.851190,1143500.0,390000.0,13719000.0
2019-06-27 00:00:00,15220000.0,16858000.0,13808000.0,14602000.0,32378.604185,1525000.0,1143500.0,16363500.0
2019-06-28 00:00:00,14599000.0,15020000.0,12959000.0,14566000.0,25946.066748,1030500.0,1525000.0,16124000.0
2019-06-29 13:00:00,14566000.0,15411000.0,14251000.0,14540000.0,7772.613433,580000.0,1030500.0,15596500.0

In [45]:
import numpy as np

fee = 0.002
df['ror'] = np.where(df['high'] > df['target'], df['close'] / df['target'] - fee, 1)  #ror = rate of return
# np.where(조건, 조건이 참일 때의 값, 조건이 거짓일 때의 값)

df.tail(20)

,open,high,low,close,volume,range,range_shift1,target,ror
2019-06-10 00:00:00,9577000.0,9788000.0,9285000.0,9665000.0,4817.845051,251500.0,155000.0,9732000.0,0.991115
2019-06-11 00:00:00,9657000.0,9750000.0,9450000.0,9497000.0,3153.164870,150000.0,251500.0,9908500.0,1.000000
2019-06-12 00:00:00,9497000.0,9735000.0,9467000.0,9664000.0,3011.111387,134000.0,150000.0,9647000.0,0.999762
2019-06-13 00:00:00,9662000.0,9870000.0,9662000.0,9776000.0,2804.621608,104000.0,134000.0,9796000.0,0.995958
2019-06-14 00:00:00,9775000.0,10311000.0,9775000.0,10208000.0,3909.140566,268000.0,104000.0,9879000.0,1.031303
2019-06-15 00:00:00,10208000.0,10515000.0,10200000.0,10410000.0,3338.042517,157500.0,268000.0,10476000.0,0.991700
2019-06-16 00:00:00,10409000.0,11167000.0,10403000.0,11016000.0,6072.484083,382000.0,157500.0,10566500.0,1.040540
2019-06-17 00:00:00,11012000.0,11143000.0,10614000.0,11140000.0,4048.220571,264500.0,382000.0,11394000.0,1.000000
2019-06-18 00:00:00,11140000.0,11186000.0,10821000.0,10902000.0,4425.696953,182500.0,264500.0,11404500.0,1.000000
2019-06-19 00:00:00,10902000.0,11000000.0,10748000.0,10869000.0,3030.831987,126000.0,182500.0,11084500.0,1.000000
2019-06-20 00:00:00,10872000.0,11142000.0,10861000.0,11139000.0,3670.244680,140500.0,126000.0,10998000.0,1.010821
2019-06-21 00:00:00,11139000.0,11700000.0,11072000.0,11560000.0,6038.660834,314000.0,140500.0,11279500.0,1.022868
2019-06-22 00:00:00,11550000.0,13054000.0,11550000.0,12451000.0,13129.289526,752000.0,314000.0,11864000.0,1.047477
2019-06-23 00:00:00,12451000.0,12723000.0,12060000.0,12436000.0,6678.691148,331500.0,752000.0,13203000.0,1.000000
2019-06-24 00:00:00,12436000.0,13040000.0,12366000.0,12801000.0,6559.101612,337000.0,331500.0,12767500.0,1.000624
2019-06-25 00:00:00,12801000.0,13500000.0,12720000.0,13329000.0,8119.787732,390000.0,337000.0,13138000.0,1.012538
2019-06-26 00:00:00,13329000.0,15610000.0,13323000.0,15258000.0,18017.851190,1143500.0,390000.0,13719000.0,1.110180
2019-06-27 00:00:00,15220000.0,16858000.0,13808000.0,14602000.0,32378.604185,1525000.0,1143500.0,16363500.0,0.890352
2019-06-28 00:00:00,14599000.0,15020000.0,12959000.0,14566000.0,25946.066748,1030500.0,1525000.0,16124000.0,1.000000
2019-06-29 13:00:00,14566000.0,15411000.0,14251000.0,14540000.0,7772.613433,580000.0,1030500.0,15596500.0,1.000000

## 2. Holding Period Return (HPR, 기간수익률)

### 1) 20일 기간수익률

In [46]:
df = df.iloc[-20:]

In [47]:
HPR = df['ror'].cumprod()[-2]
print(HPR)

1.1391035209917788

## 3. 최적 Range 산출

In [95]:
def get_ror(k, ticker) :
    df = pybithumb.get_ohlcv(ticker)
    df = df.iloc[-30:] # 30일 구간 ror 산출
    df['range'] = (df['high'] - df['low']) * k
    df['target'] = df['open'] + df['range'].shift(1)
    
    fee = 0.002
    df['ror'] = np.where(df['high'] > df['target'], df['close'] / df['target'] - fee, 1)
    
    ror = df['ror'].cumprod()[-2]
    return ror

ticker_result = []
k_result = []
ror_result = []

#tickers = pybithumb.get_tickers()
tickers = ['BTC', "ZIL", "ETH", "BCH"]
for ticker in tickers :
    for k in np.arange(0.1, 1.0, 0.1):
        ror = get_ror(k, ticker)
        ticker_result.append(ticker)
        k_result.append(k)
        ror_result.append(ror)
        #print(ticker, '-'*50)
        #print("%.1f %.3f" %(k, ror))

In [105]:
best_result = pd.DataFrame(list(zip(ticker_result, k_result, ror_result)), columns=['ticker', 'k', 'ror'])

In [106]:
best_result

   ticker    k       ror
0     BTC  0.1  1.242406
1     BTC  0.2  1.213972
2     BTC  0.3  1.177007
3     BTC  0.4  1.162711
4     BTC  0.5  1.084626
5     BTC  0.6  1.094725
6     BTC  0.7  1.046057
7     BTC  0.8  1.181630
8     BTC  0.9  1.137902
9     ZIL  0.1  0.926593
10    ZIL  0.2  1.027098
11    ZIL  0.3  1.045652
12    ZIL  0.4  1.337189
13    ZIL  0.5  1.308690
14    ZIL  0.6  1.268461
15    ZIL  0.7  1.307640
16    ZIL  0.8  1.274197
17    ZIL  0.9  1.325966
18    ETH  0.1  1.105263
19    ETH  0.2  0.977188
20    ETH  0.3  0.947397
21    ETH  0.4  0.976850
22    ETH  0.5  1.031783
23    ETH  0.6  1.166028
24    ETH  0.7  1.131750
25    ETH  0.8  1.111874
26    ETH  0.9  1.098964
27    BCH  0.1  0.818256
28    BCH  0.2  0.780762
29    BCH  0.3  0.828375
30    BCH  0.4  0.844987
31    BCH  0.5  1.076957
32    BCH  0.6  1.048692
33    BCH  0.7  1.048023
34    BCH  0.8  1.048706
35    BCH  0.9  1.017976